* {
  max-width: 1024px;
  max-height: 768px;
   
   
}
body {
    background-image: url(Immagini/bg.jpg);
    background-repeat: no-repeat;
    padding: 4em 6em;
}

#epicode_logo {
    width: 200px;
}

#epicode_logo img {
    width: 100%;
}
