main {
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-align: center;
}

#title {
  margin-top: 80px;
}
.correct {
  display: inline-block;
  width: 330px;
  height: 330px;
  margin: 50px 0 0 0;
}


.center {
  display: inline-block;
  width: 330px;
  height: 330px;
  margin: 50px 0 0 0;
}

.wrong {
  display: inline-block;
  width: 330px;
  height: 330px;
  margin: 50px 0 0 0;
}

#result {
  border: 1vh solid white;
  border-radius: 50%;
  width: 316px;
  height: 316px;
}

#btnContainer {
  margin-top: 50px;
  text-align: center;
}

button {
  width: 220px;
  height: 70px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 25px;
  box-shadow: 0px 0px 149px -16px #00ffff;
}
