#quests-container {
  text-align: center;
  margin-block-start: 6em;
  width: 560px;
  margin-inline: auto;
}

#epicode_logo {
  display: inline-block;
}
#quests {
  font-size: 60px;
  font-weight: 600;
}

#container-btn {
  text-align: center;
  margin-block-start: 5em;
}

.answer-btn {
  width: 30em;

  margin-block-end: 1em;
  margin-inline: 1em;
  height: 5em;
  border-radius: 30px;
  background: #ffffff26;
  color: white;
  border: 5px solid #ffffff5e;
}
.answer-btn:hover {
  background-color: #d20094;
  cursor: pointer;
}

.answerclick-btn {
  background-color: #d20094;
}

@keyframes changeColor {
  form {
    border: 1vh solid white;
  }
  to {
    border: 1vh solid #00ffff;
  }
}



#clock {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
  margin-left: 700px;
  margin-bottom: 20px;
  background: conic-gradient(cyan 80%, #9b9898 0%) border-box;
}
#clock {
  border-color: white;
}

#timer {
  text-align: center;
  width: 30px;
  padding-left: 50px;
  padding-top: 50px;
}

#container-next-btn {
  text-align: center;
  margin-block-start: 2em;
}

#next {
  width: 10em;
  height: 3em;
  font-size: 1em;
  font-weight: 600;
  background-color: #00ffff;
}

#next:hover {
  cursor: pointer;

  box-shadow: 2px 2px 65px 32px rgba(0, 255, 255, 0.26);
}

#counter-questions {
  text-align: center;
  margin-block-start: 1em;
}

#counter-questions p {
  color: #d20094;
}
